pipeline/Retrieve Divisions.json
{
	"name": "Retrieve Divisions",
	"properties": {
		"activities": [
			{
				"name": "Retrieve Access Token",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "00:10:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_last_accesstoken",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy Divisions to Blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Retrieve Access Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "XmlSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"additionalHeaders": {
								"value": "@{concat('Authorization:Bearer ', activity('Retrieve Access Token').output.firstRow.AccessToken)}",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "XmlReadSettings",
							"validationMode": "none",
							"namespaces": true
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['Administrations']['Administration']['Description']"
								},
								"sink": {
									"name": "Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Administrations']['Administration']['@Code']"
								},
								"sink": {
									"name": "Code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Administrations']['Administration']['@HID']"
								},
								"sink": {
									"name": "HID",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "http_xml_divisions",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "csv_raw_divisions",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Divisions to SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Divisions to Blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE staging.Divisions",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Description",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Description",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Code",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "HID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "HID",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": false,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "csv_raw_divisions",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sql_divisions",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"insert_date": {
				"type": "String"
			},
			"insertdate": {
				"type": "String"
			},
			"refreshtoken_new": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-12-13T10:55:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}